.hero {
    position: relative;
    margin-top: 70px;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 6rem;
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image {
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: cover;
    opacity: 0.3;
    background-image: linear-gradient(black,rgba(255, 255, 255, 0));
}

@keyframes translate {
    0% {
        opacity: 0.1;
        scale: 1;
    }

    50% {
        opacity: 0.4;
        scale: 1.1;
    }

    100% {
        opacity: 0.1;
        scale: 1;
    }
}

.hero-content {
    border-inline: 1px solid rgb(197, 197, 197);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    max-width: 80%;
    max-height: 100%;
    padding: 20px;
    background-color: rgba(240, 240, 240, 0);
    backdrop-filter: blur(1px);
    text-wrap: balance;
}
.hero-content h1 {
    font-family: sans-serif;
    font-size: 7vw;
    font-weight: 600;
    text-align: center;
    line-height: 6vw;
    margin-bottom: 15px;
    color: rgb(38, 38, 38);
    /* text-shadow: 0 2px 5px rgba(57, 57, 57, 0.5); */
}

.hero-content span {
    color: rgb(164, 10, 211);
    text-shadow: none;
}

.hero-content p {
    text-align: center;
    font-size: 12px;
    margin-bottom: 20px;
    margin-left: 3px;
    color: rgb(64, 64, 64);
}

.hero-btn {
    color: rgb(252, 250, 253);
    background-color: rgb(5, 5, 5);
    padding: 7px 15px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    transition: transform ease 0.3s;
}
.hero-btn:hover {
    text-shadow: 1px 1px 2px black;
    transform: translateY(-2px);
}

.hero-section {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://storage.googleapis.com/workspace-0f70711f-8b4e-4d94-86f1-2a93ccde5887/image/71c0b31b-41d4-45c1-9ff7-ac032ed1a5df.png') no-repeat center center;
    background-size: cover;
    height: 80vh;
}

.hotel-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

@media (max-width:470px){
    .hero-content{
        width: 100%;
    }
    .hero-content h1{
        font-size: 15vw;
        line-height: 13vw;
    }
}