* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: antiquewhite;
    width: 100vw;
    height: 100vh;
    overflow-X: hidden;
    font-family: sans-serif!important;
}
.button {
    color: rgb(237, 237, 237);
    background-color: rgb(232, 56, 56);
    border: none;
    padding: 7px 15px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: var(--transition);
}

.brand_logo span {
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-weight: bold;
}
.home_nav{
    background-color: #b1daf9b6!important;
    color: rgb(0, 0, 0)!important;
    backdrop-filter: blur(10px);
}
footer {
    position: relative;
    width: 100%;
    display: block;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 1rem;
    background-color: rgb(244, 244, 244);
    padding: 10px;
    margin-top: 20px;
}

/* //index  */
.index-container {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.index-card {
    padding: 10px 10px;
    width: 270px;
    margin: 10px;
    border: none !important;
    border-radius: 20px!important;
    transition: ease 0.3s;
}
.index-card:hover {
    box-shadow: 2px 2px 10px -2px rgb(83, 83, 83);
}
.index-card-img {
    background-size: cover;
    object-fit: cover;
    height: 230px;
}
.listing-link {
    text-decoration: none !important;
    color: black;
}
/* new// */
.new-container {
    height: 100vh;
    width: 50vw;
    margin: auto;
    font-size: 14px !important;
    line-height: 10px !important;
    margin-top: 30px;
}
.form-label {
    margin-top: 10px !important;
    font-weight: 500;
}
.form-control {
    opacity: 0.8 !important;
    font-size: 14px !important;
}

.new-button {
    width: 130px;
    height: 35px;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 6px;
    border: 1px solid rgb(252, 35, 71);
    background-color: rgb(252, 35, 71);
    color: white;
}

.price-country {
    display: flex;
    flex-wrap: nowrap;
    width: 100% !important;
    justify-content: space-between;
}

.new-price {
    width: 24.2vw !important;
}

/* edit */
.edit-container {
    height: 100vh;
    width: 50vw;
    margin: auto;
    font-size: 14px !important;
    line-height: 10px !important;
    margin-top: 30px;
}

.edit-btn {
    width: 130px;
    height: 35px;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 6px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(33, 32, 32);
    color: white;
}

.edit-price {
    width: 24.5vw !important;
}

